.armyLayout {
    margin: 0 10% 0 10%;
    height:fit-content;
    border: 1px solid black;
    background-color: rgb(153, 127, 255);
    border-bottom-left-radius:.8rem ;
    border-bottom-right-radius:.8rem ;
}

.armyCarrison-container{
    display: flex;
    flex-direction: row;
}

.armyCarrison-item{
    border: 1px solid black;
    margin: 0 .1rem 0 .1rem;
    padding: 0 .3rem 0 .3rem;
}

.armyCarrison-item:hover{
    background-color: aquamarine;
}

.armyCarrison-item > h4{
    pointer-events: none;
}

.armyCarrison-itemGrid{
    pointer-events: none;
}

.armyCarrison-unitTotal {
    border:1px solid black;
    text-align: right;
    background-color: rgb(174, 167, 199);
}

.army-detail-view {
    display: flex;
    flex-direction: row;
    padding:.6rem;
}

.army-detail-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.army-detail-header > h4 {
    margin: .1rem 1rem .3rem 1rem;
    padding:1rem;
    border: 1px solid black;
    pointer-events: none;
}

.number {
    background-color: rgb(174, 167, 199);
}

.army-detail-container {
    display: flex;
    flex-direction: row;
    padding-left:.3rem;
    padding-right:.3rem;
    padding-bottom:.3rem;
}

.army-detail-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border:1px solid black;
    margin-left:.3rem;
}

.army-detail-item > p {
    border:1px solid black;
    text-align: center;
    background-color: rgb(174, 167, 199);
    pointer-events: none;
    width: 80px;
}

.army-detail-item > input {
    width: 80px;
}

.army-detail-container > h5 {
    width:100px;
}

.army-detail-Button {
    border-left: 1.2px solid black;
    border-right: 1.2px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: rgb(174, 167, 199);
    width: 80px;
    margin-left:3rem;
    height:1.4cm;
}

.army-detail-Button > h4 {
    pointer-events: none;
}

.army-detail-Button-open {
    background-color: rgb(116, 94, 196);
    height:2.8cm;
}

.army-detail-Button-open > h4 {
    pointer-events: none;
}

.army-detail-names {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.army-detail-names > p {
    border: 1px solid black;
    padding: .3rem;
    width: 80px;
}

.active {
    cursor: grabbing;
}